body {
  display: block;
}

.document-content-container::after {
    content: url("data:text/html,<a href='https://attacker.com/'>LINK</a>");
    display: inline-block;
    width: 1em;
    height: auto;
}
